@import '../../../styles/variables';

.player-details {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  .player-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;

    .red-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 95%;
      background: $red-blur;
      border-radius: 20px;
      z-index: -1;
    }

    .image-container {
      padding: 5rem;
      position: relative;

      img {
        height: 400px;
        border-radius: 20px;
        box-shadow: -19px 4px 20px -15px $dark-blue;
      }

      button {
        position: absolute;
        bottom: 45%;
        right: 3, 1%;
        background-color: $primary-red;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 0 10px 10px 0px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-red, 10%);
        }
      }
    }
  }

  .player-stats {
    width: 50%;
    height: 100%;

    h2 {
      font-size: x-large;
      margin: 1rem 0;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .stat {
      margin-bottom: 10px;

      label {
        display: block;
        margin-bottom: 1rem;
        font-weight: 400;
      }

      .progress-bar {
        background-color: lighten($light-blue, 30%);
        border-radius: 5px;
        overflow: hidden;
        max-width: 50%;
        .progress {
          height: 20px;
          background-color: $yellow;
          transition: width 0.3s ease;
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          font-weight: 600;
          animation: progress 0.5s ease-in-out forwards;
          opacity: 0;
          @keyframes progress {
            0% {
              width: 0;
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
          span {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
