@import '../../../styles/variables';

.container-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  button {
    background: $dark-blue;
    box-shadow: 6px 6px 5px 0px $grey-blue;
    color: $white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
  }

  button:active {
    transform: translateY(4px);
    box-shadow: 3px 3px 2px 0px $grey-blue;
  }
}