//! COLOURS
//* BLUE
$primary-blue: #154285;
$grey-blue: #292844;
$dark-blue: #0a0926;
$gradient-end: #174385;

//* RED
$primary-red: #cc122e;
$dark-red: #8f1a18;

//* YELLOW
$yellow: #f0c52b;

//* TEXT
$white: #ffffff;

//! MEASURES
//* PADDING
