@import '../../../styles/variables';

.card {
  width: 360px;
  height: 100%;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.9s ease-in-out;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background: $dark-red;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 15px;
  }
}

.card-back {
  background: $dark-red;
  color: $white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}