<button
  mat-button-extended
  [matMenuTriggerFor]="menu"
  class="language-button"
  aria-label="Language"
>
  {{ 'language' | translate }}
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="switchLanguage(languages.SPANISH)"
    class="language-menu-button"
  >
    <span>Español</span>
    <img src="../../../assets/icons/bandera-es.png" alt="Spain" />
  </button>

  <button
    mat-menu-item
    (click)="switchLanguage(languages.ENGLISH)"
    class="language-menu-button"
  >
    <span>English</span>
    <img src="../../../assets/icons/bandera-uk.png" alt="United Kingdom" />
  </button>
  <button
    mat-menu-item
    (click)="switchLanguage(languages.CATALAN)"
    class="language-menu-button"
  >
    <span>Català</span>
    <img src="../../../assets/icons/bandera-cat.png" alt="Catalonia" />
  </button>
</mat-menu>
