<mat-toolbar class="footer">
  <mat-toolbar-row class="container-contact">
    <a href="mailto: brisnapaez25@gmail.com">
      <img src="../../../assets/icons/icon-email.png" alt="icon email" />
      brisnapaez25&#64;gmail.com
    </a>
    <p>2024 {{ 'footer-rights' | translate }}</p>
    <a href="mailto: ">
      <img src="../../../assets/icons/icon-email.png" alt="icon email" />
      guillermososaalmeida&#64;gmail.com
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="container-text">
    <p>{{ 'footer-love' | translate }}</p>
  </mat-toolbar-row>
</mat-toolbar>
