<mat-toolbar class="footer">

  <mat-toolbar-row class="container-contact">
    <a href="mailto: brisnapaez25@gmail.com">
      <img src="../../../assets/icons/icon-email.png" alt="icon email" />
      brisnapaez25&#64;gmail.com
    </a>
    <p>2023 All Rights Reserved</p>
    <a href="mailto: ">
      <img src="../../../assets/icons/icon-email.png" alt="icon email" />
      guillermososa&#64;gmail.com
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row class="container-text">
    <p>Creado con amor por Guillermo Sosa y Brisna Paez 💕</p>
  </mat-toolbar-row>

</mat-toolbar>