<mat-toolbar class="footer">

  <section class="container-text">
    <p>Creado con amor por Guillermo Sosa y Brisna Paez 💕</p>
  </section>

  <section class="container-contact">
    <div>
      <img src="../../../assets/icons/icon-email.png" alt="icon email" />
      <a href="mailto: guillermososaalmeida@gmail.com">Guillermo Sosa</a>
      <img src="../../../assets/icons/icon-email.png" alt="icon email" />
      <a href="mailto: brisnapaez25@gmail.com">Brisna Paez</a>
    </div>

    <div>
      <img src="../../../assets/icons/icon-github.png" alt="icon github" />
      <a href="https://github.com/Brisnayu" target="_blank">Brisnayu</a>
      <img src="../../../assets/icons/icon-github.png" alt="icon github" />
      <a href="https://github.com/Brisnayu" target="_blank">Brisnayu</a>
    </div>
  </section>

</mat-toolbar>